<div class="container">
{%block content%}
<nav>
    <!-- As a link -->

<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" style="width:18rem" href="#">Brand</a>
        <a class="navbar-brand" style="width:28rem" href="#">Contact</a>
        <a class="navbar-brand" style="width:18rem" href="#">About</a>
        
      </nav>
      
      <!-- As a heading -->
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"></span>
      </nav>
   
    </ul>
</nav>
{%endblock%}
</div>